<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laboratorio1TecnologiasLegacy.UIWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Laboratorio1TecnologiasLegacy.UIWPF.Properties.Settings>
            <setting name="Laboratorio1TecnologiasLegacy_UIWPF_ServicioVehiculoWebService_WebService1"
                serializeAs="String">
                <value>https://localhost:44331/ServicioVehiculo.asmx</value>
            </setting>
        </Laboratorio1TecnologiasLegacy.UIWPF.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceWCFVehiculo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51932/ServiceWCFVehiculo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCFVehiculo"
                contract="ServiceWCFVehiculo.IServiceWCFVehiculo" name="BasicHttpBinding_IServiceWCFVehiculo" />
        </client>
    </system.serviceModel>
</configuration>