/EjericiosClase/build/
/Laboratorio-1/Laboratorio_1_Miguel_Fernandez_Arteaga/nbproject/private/
/Ejercicios/pytsemana1/nbproject/private/
/Laboratorio-1/Laboratorio_1_Miguel_Fernandez_Arteaga/build/
/Ejercicios/pytsemana1/build/
/Ejercicios/pytsemana1/dist/
/Laboratorio-1/Laboratorio_1_Miguel_Fernandez_Arteaga/dist/
