
/pytgui/dist/
/Laboratorio_4_Miguel_Fernandez_Daniel_Guerrero_Santiago_Calderon/dist/
/Laboratorio_2_Miguel_Fernandez_Arteaga/dist/
/Laboratorio_1_Miguel_Fernandez_Arteaga/dist/
/Laboratorio_1_Miguel_Fernandez_Arteaga/build/
/Proyecto_Final_Cronogramas_Docentes/nbproject/private/
/Proyecto_Final_Cronogramas_Docentes/build/
/Proyecto_Final_Cronogramas_Docentes/dist/
/pytSemana09/nbproject/private/
/pytSemana09/build/
/pytSemana09/dist/
/Laboratorio_6_Miguel_Fernandez_Daniel_Guerrero_Santiago_Calderon/nbproject/private/
/Laboratorio_6_Miguel_Fernandez_Daniel_Guerrero_Santiago_Calderon/build/
/Laboratorio_6_Miguel_Fernandez_Daniel_Guerrero_Santiago_Calderon/dist/
/binaryTree/nbproject/private/
/binaryTree/build/
/ArbolBusqueda/dist/
/Laboratorio_2/nbproject/private/
/Laboratorio_1/nbproject/private/
/Laboratorio_3/nbproject/private/
/Laboratorio_4/nbproject/private/
/Laboratorio_5/nbproject/private/
/Laboratorio_6/nbproject/private/
/Laboratorio_6/build/
/ArbolBinario/nbproject/private/
/ArbolBinario/dist/
/ArbolBinario/build/
/ProyectoGrafos_1/nbproject/private/
/pytArchivos/dist/
/binaryTree/dist/
/pytFinalMatematicaDiscreta/nbproject/private/
/Proyecto_Matatica_Discreta/CaminoMinimo/dist/
/pytJson/nbproject/private/
/pytJson/build/
/Laboratorio_5/build/
/Estrucuturas de datos/lab-2/nbproject/private/
/Estrucuturas de datos/lab-2/build/
/Estructuras_de_Datos_Algoritmos/Laboratorio_6/Laboratorio_6/nbproject/private/
/Estructuras_de_Datos_Algoritmos/Laboratorio_6/Laboratorio_6/build/
/Estructuras_de_Datos_Algoritmos/Laboratorio_6/build/
/Estructuras_de_Datos_Algoritmos/Donkey_Kong/build/
/Estructuras_de_Datos_Algoritmos/Donkey_Kong/dist/
/Estructuras_de_Datos_Algoritmos/Donkey_Kong/nbproject/private/
