<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b72bff9-e11a-43f4-ae1b-e75c8d475288/resourceGroups/pruebaapoi_group/providers/Microsoft.Web/sites/pruebaapi</ResourceId>
    <ResourceGroup>pruebaapoi_group</ResourceGroup>
    <ApiResourceId>/subscriptions/5b72bff9-e11a-43f4-ae1b-e75c8d475288/resourceGroups/pruebaapoi_group/providers/Microsoft.ApiManagement/service/GestionDePersonasSIapi/apis/GestionDePersonasSI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pruebaapi-d9hud6hge3asa3g6.mexicocentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>85dcdb3d-b57a-4120-af3d-d84906db5b06</ProjectGuid>
    <MSDeployServiceURL>pruebaapi-d9hud6hge3asa3g6.scm.mexicocentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pruebaapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>