<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioPersona"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Personas/EjemploTecnologiasLegacy.SI.WCF/Service/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPersona" contract="wcf.ServicioPersonaWCF.IServicioPersona" name="BasicHttpBinding_IServicioPersona"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsoleApp1.Properties.Settings>
            <setting name="ConsoleApp1_webservice_ServicioPersonaAsmx_ServicioPersona" serializeAs="String">
                <value>http://localhost:63669/ServicioPersona.asmx</value>
            </setting>
        </ConsoleApp1.Properties.Settings>
    </applicationSettings>
</configuration>
